@model BlogViagem.Models.Post

@{
    ViewData["Title"] = "Details";
}

<h1>Dados do Post</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datapost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datapost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAdmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAdmin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-info">Voltar</a> |
    <a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-warning">Editar</a> 
</div>
