@model IEnumerable<BlogViagem.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Posts</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Criar Post</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datapost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td style="max-width: 150px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    <img src=@Html.DisplayFor(modelItem => item.Imagem) height="40"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datapost)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ID">Visualizar</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
